@import '~@angular/material/theming';
@include mat-core();
$progressbar-primary: mat-palette($mat-yellow);
$progressbar-accent: mat-palette($mat-pink, A200, A100, A400);
$progressbar-warn: mat-palette($mat-red);
$progressbar-theme: mat-dark-theme((color: (primary: $progressbar-primary, accent: $progressbar-accent, warn: $progressbar-warn,)));
@include angular-material-theme($progressbar-theme);

body,
html {
  height: 100%;
  background: #000;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}